.corsi-background {
  min-width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #bfc0c2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Corsi-canvas {
  background-color: #282c34;
  width: 50vh;
  height: 50vh;
  min-width: 20rem;
  min-height: 20rem;
}

.Test-Start-Button-Container-hidden-false {
  visibility: hidden;
}

.Test-Start-Button-Container-hidden-true {
  visibility: visible;
  transform: translateY(-10rem);
}

.Stroop-word {
  margin-top: 20vh;
  font-size: 5em;
  font-weight: bold;
}

.Stroop-question-orange {
  color: #eb3625;
}
.Stroop-question-blue {
  color: #006efe;
}
.Stroop-question-yellow {
  color: #efc210;
}
.Stroop-question-green {
  color: #00723c;
}

.Stroop-buttons {
  margin-top: 8vh;
  display: inline-flex;
  gap: 2rem;
}

.Stroop-button {
  width: 5vw;
  height: 5vw;
  min-width: 3rem;
  min-height: 3rem;
}
.Stroop-button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.stroop-answer-orange {
  background-color: #eb3625;
}
.stroop-answer-blue {
  background-color: #006efe;
}
.stroop-answer-yellow {
  background-color: #efc210;
}
.stroop-answer-green {
  background-color: #00723c;
}

.break {
  flex-basis: 100%;
  height: 0;
}