.Home {
  text-align: center;
  display: block;
}

.Hello-Title {
  margin-top: 14vh;
}

.Start-Button-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Start-Button {
  margin-top: 8rem;
  width: 5rem;
  height: 5rem;
  color: #ffffff;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 3rem;
  animation: fadeIn 2s;
}

.Start-Button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}