.grey-background {
  width: max(100%, 100vw);
  min-height: 100vh;
  max-height: 100%;
  background-color: #bfc0c2;
}

.Instructions {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Instructions-Title {
  margin-top: 14vh;
  font-size: 5em;
  font-weight: bold;
}

.Instructions-Description  {
  font-size: 2em;
  max-width: 50vw;
  margin-top: 4vh;
  text-align: center;
}

.Instructions-video {
  margin-top: 2.5rem
}

.Test-Start-Button-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Test-Start-Button {
  margin-top: 2.5rem;
  width: 5rem;
  height: 5rem;
  color: #bfc0c2;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 3rem;
  animation: fadeIn 2s;
}

.Test-Start-Button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}